body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('backgroundem.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #333;
    padding: 10px;
    position: fixed;
    height: 100%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.content {
    margin-left: 220px;
    padding: 20px;
    width: calc(100% - 220px);
    background-color: rgba(255, 255, 255, 0.8);
}

h1, h2 {
    color: #333;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    width: 48%;
    margin: 1%;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.flip {
    display: flex;
    flex-direction: row-reverse;
}
